* {
    box-sizing: border-box;
  }
  
  .question-item{
  
    padding: 10px;
    margin: 8px;
    display: flex;
    font-weight: 600;
    box-shadow: 2px 5px 5px rgba(0,0,0,0.05);
    border: 1px;
    border-style: solid;
    border-color: rgba(1,1,1,0.05);
    width: 98%;
    border-radius: 12px;
  }
  
  .question-item:hover{
    box-shadow: 4px 6px 5px rgba(0,0,0,0.05);
    transform: translateY(-2px);
  } 
  
  .question-content {
    flex:1;
    display: flex;
    flex-direction: column;
    gap: 15px;
  
  }
  
  .question-text{
    font-size: 25px;
    color: #333;
    text-overflow: ellipsis;
  }
  
  
  .question-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  .question-details {
    font-size: 15px;
    display: flex;
    gap: 40px;
  }
  
  
  
  .detail-item {
    display: flex;
    gap: 3px;
  }
  
  
  .detail-label {
    color: #555;
  }
  
  .detail-value {
    color: #333;
    background-color: #f0f0f0;
    padding: 2px 4px;
    border-radius: 4px;
  
  }
  
  
  .see-more-btn{
    background-color: #f0f0f0;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  .see-more-btn:hover{
    background-color: #e0e0e0;
    transform: translateY(-1px);
  } 