* {
  box-sizing: border-box;
}


.questions-container {
  display: flex;
  flex-direction: row;
  width: 99vw;
  height: 97vh;
  padding: 20px;
  gap: 30px; 
}

 .sidebar {
  width: 20%; 
  padding: 25px;
  background-color: #f7f7f7;
  border-radius: 12px;
  top: 20px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;

}


.add-button {
  background-color: #000000;
  color: white;
  padding: 15px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  font-size: 15px; 
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 2px 4px 6px rgba(0,0,0,0.2);
}

.add-button:hover {
  background-color: #1a1a1a;
  transform: translateY(-2px);
  box-shadow: 3px 6px 8px rgba(0,0,0,0.2);
}


.filter-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
}

.filter-checkbox{
  display: flex;
  padding-left: 5px;
}

.filter-checkbox input {
  cursor: pointer;
  accent-color: black;
}



.filter-section h3{
  margin: 8px;
}


.filter-checkbox{
  display: flex;
  justify-content: left;
  gap: 10px;
}

.main-content {

  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.search-and-sort {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.search-container {
  display: flex;
  width: 75%;
}

.search-container input {
  width: 100%;
  padding: 8px 10px; 
  border: 2px solid #e0e0e0;
  border-radius: 8px;
  font-size: 18px;
  accent-color: black;
}




.order-by-select {
  padding: 8px 10px;
  border: 2px solid #e0e0e0;
  border-radius: 6px;
  font-size: 16px;
}


.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  border-top: 1px solid #f0f0f0;
  gap: 15px;
}


.questions-list {
  border: 1px solid #ddd;
  border-radius: 12px;
  overflow-y: auto;
  flex: 1;
}

/* 

.pagination button {
  padding: 10px 16px;
  border: 2px solid #e0e0e0;
  background-color: #f9f9f9;
  color: #333;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}

.pagination button:hover {
  background-color: #f0f0f0;
  border-color: black;
}

.pagination button.active-page {
  background-color: black;
  color: white;
  border-color: black;
  font-weight: bold;
} */

